<div class="page-content">
  <div class="intro-container">
    <p class="introduction">
      I wrote my first line of code when I was 10 years old. I've been living and
      breathing code ever since. I'm a programming mad scientist. My workstation
      is my lab, and my apps are my inventions. Building things with code is not
      just work for me, it is also my passion. Looking for a software engineer?
      Check out my resume and portfolio! Have an idea for an app? Contact me and
      I can build it for you!
    </p>
  </div>
</div>