#main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  background-color: white;
  padding-left: 100px;
}

#image {
  height: 100px;
  width: 100px;
}

#info-container {
  position: absolute;
  top:  0;
  left: 210px;
  padding-left: 10px;
}

#name {
  font-size: 40px;
  margin: 0;
}

#occupation {
  font-size: 20px;
  margin: 0;
}

#nav-links-container {
  position: absolute;
  right: 200px;
  bottom: 0;
}

.link {
  font-size: 20px;
  padding: 25px;
  padding-bottom: 10px;
  display: inline-block;
  border: none;
  background-color: white;
  text-decoration: none;
}

.active-link {
  text-decoration: none;
  background-color: black;
  color: white;
}