<div id="main">
  <img src="../assets/pic.jpg" id="image">
  <div id="info-container">
    <p id="name" class="font-color">Jeff Campecino</p>
    <p id="occupation" class="font-color">Software Engineer</p>
  </div>
  <div id="nav-links-container">
    <a class="link" routerLink="/home" routerLinkActive="active-link">Home</a>
    <a class="link" routerLink="/resume" routerLinkActive="active-link">Resume</a>
    <a class="link" routerLink="/portfolio" routerLinkActive="active-link">Portfolio</a>
    <a class="link" routerLink="/blog" routerLinkActive="active-link">Blog</a>
    <a class="link" routerLink="/contact" routerLinkActive="active-link">Contact</a>
  </div>
</div>