.card {
  position: relative;
  height: 200px;
  width: 720px;
  background-color: rgba(255,255,255,1);
  display: inline-block;
}

.app-image-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  width: 200px;
  text-align: center;
}

.app-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 200px;
  max-width: 200px;
}

.app-info-container {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: left;
  padding: 5px;
}

.app-title {
  font-size: 30px;
  display: block;
  border-bottom: 1px solid black;
}

.app-description {
  display: block;
  font-size: 20px;
}

.app-links {
  display: block;
  font-size: 15px;
  padding: 10px;
}