<div class="page-content">

  <div class="container">

    <!-- SKILLS -->
    <div class="widget">
      <span class="widget-title">Skills</span>
      <span class="widget-details">
        JavaScript, HTML, CSS, AngularJS, React, Ionic, Web/Mobile Hybrid Development
      </span>
    </div>

    <!-- EDUCATION -->
    <div class="widget">
      <span class="widget-title">Education</span>
      <span class="widget-details">
        <b>Hack Reactor</b>, San Francisco, CA - Software Engineering, 2016 <br>
        <b>Cogswell Polytechnical College</b>, Sunnyvale, CA — Software Engineering, 2014 - 2015 <br>
        <b>Merced College</b>, Merced, CA — Business Administration, 2010 - 2013
      </span>
    </div>

    <!-- PROJECTS -->
    <div class="widget">
      <span class="widget-title">Education</span>
      <span class="widget-details">
        See portfolio.
      </span>
    </div>

  </div>



</div>