/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: till;
    src: url(titillium.ttf);
}

body {
  font-family: till;
  background-image: url('assets/homepic1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.font-color {
  color: rgb(25,25,25);
}

.page-content {
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}