/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: till;
    src: url(titillium.ttf);
}

body {
  font-family: till;
}

.font-color {
  color: rgb(25,25,25);
}